  <%- include('partials/header'); %>
  <a href="/">topへ戻る</a>
  <div class="main">
    <div class="compcontainer">
      <div class="comptitle">お問い合わせ内容を承りました。</div>
      <div class="compword">3営業日以内に担当者からご連絡を差し上げます。</div>
    </div>
  </div>
  <%- include('partials/footer'); %>
