<%- include('partials/header'); %>
<div class="main">
  <div class="contact-frm">
    <p class="inputTitle">入力フォーム<span class="requiredSentence">※は必須項目です</span></p>  
    <form class="tablecontact" action="" method="" name="frm-pc">
      <table>
        <tr>
          <th>お名前</th><td><input type="text" id="text1" class="txtbox" name="txtbox" value=""></td>
        </tr>        
        <tr>
          <th>性別<span class="requiredRed">※</span></th>
            <td>
              <label for=""><input type="radio" id="radio" class="radio" name="gender">男性</label>
              <label for=""><input type="radio" class="radio" name="gender">女性</label>
              <p class="errMsgGender"></p>
            </td>
        </tr>
        <tr>
          <th>年代<span class="requiredRed">※</span></th>
            <td>
              <select name="selectage" class="selectage">
                <option value="">選択してください</option>
                <option value="10代">10代</option>
                <option value="20代">20代</option>
                <option value="30代">30代</option>
                <option value="40代">40代</option>
                <option value="50代">50代</option>
                <option value="60代">60代</option>
                <option value="70代">70代</option>
                <option value="80代">80代以上</option>
              </select>
              <br><p class="errMsgAge"></p>
            </td>        
        </tr>        
        <tr>
          <th>タイトル<span class="requiredRed">※</span></th><td><input type="text" id="text2" class="txttitle" name="txttitle">
            <br><p class="errMsgTitle"></p></td>
        </tr>
        <tr>
          <th>お問い合わせ内容<span class="requiredRed">※</span></th><td><textarea id="textarea" class="txtarea" name="textarea"  cols="30" rows="10"></textarea><br><p class="errMsgGoiken"></p></td>
        </tr>
      </table>
      <div class="btnarea">
        <input type="button" id="contactBtn" value="送信">
      </div>
    </form>  
  </div>
</div>
  <%- include('partials/footer'); %>
