<%- include('partials/header'); %>
<div class="main">
  <div class="itemdetail-container">
    <div>
      <img src="images/pc1.jpg" alt="">
    </div>
    <div class="itemdetail-sentence">
      <table>
        <tr>
          <th>商品名</th><td>notePC AT-N230</td>
        </tr>
        <tr>
          <th>価格</th><td>98,000円</td>
        </tr> 
        <tr>
          <th><p class="timesalecolor">タイムセール価格</p></th><td><p class="timesalecolor">93,000円</p></td>
        </tr> 
      </table>
      <div class="itemcoupon">クーポンGET!</div>
      <table>
        <tr>
          <th>発送国</th><td>日本</td>
        </tr>
        <tr>
          <th>送料</th><td>550円</td>
        </tr> 
        <tr>
          <th>発送日</th><td>3月9日以内に発送</td>
        </tr> 
      </table>
      <table>
        <tr>
          <th>返品</th><td>キャンセル/返品/払い戻しは<a href="#">こちら</a>から</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>数量</th>
          <td>
            <select name="" id="">
                <option value="-">-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
          </td>
        </tr>
      </table>
      <div class="inscart">
        <a href="">カートに入れる</a>
      </div>
    </div>
  </div>
</div>
  <%- include('partials/footer'); %>
