<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <script src="/send_url.js"></script>
  <title>AtsuEC</title>
</head>
<body>
      <p class="title">トップ画面です！</p>
      <a href="/menu" class="form-link">商品を見る</a>
      <a href="/contact" class="form-link">お問い合わせ</a>
</body>
</html>