@charset 'utf-8';

/*-- タブレット向けレイアウト ～1000px --*/
@media all and (max-width:1000px) {
  /* ヘッダーエリア */
  .hcontainer {
    max-width:1000px;
    margin:0;
  }

  .logo {
    width:60px;
    font-size: 18px;
    padding-left: 5px;
  }

  .logo a {
    font-size: 16px;
    color:#333; 
  }

  .searchbox {
    min-width: 300px;
  }

  .hmenu {
    width:330px;
  }

  .limenu a,
  .hmenu li i{
  margin-right: 30px;
  color:#333;
  font-size: 18px;
}

  .slide,
  .slide2{
    max-width:970px;  
  }
  
  /* アイテムカテゴリエリア */
  .itemcategory {
    max-width:970px;
    width:100%;
    height: 100px;
  }

  /* 3カラム対応の最終行の並び順 */
  .itemcategory ul::before{
    content:"";
    display: block;
    width:25%;
    order:1;
  }

   .itemcategory ul::after{
    content:"";
    display: block;
    width:25%;
  }

  .itemcategory ul li {
    width: 25%;
    height: 30px;
  }

  /*------ フッターエリア ------*/
  .fcontainer {
    max-width:1000px;
    height: 60px;
  }

  .footerword {
    color:#333;
    font-size: 16px;
  }

  /* アイテム一覧エリア*/
  .itemcontainer {
    max-width:970px;
    width:100%;
  }

  .menu-box {
    width:calc(33.3% - 7px);
    margin-bottom: 50px;
  }

  .emptyitem {
    width:calc(33.3% - 7px);
    height: 0;
  }

  /* 3カラム対応の最終行の並び順 */
  .menu-container::after{
    content:"";
    display: block;
    width:calc(33.3% - 7px);
    height:0;
  }

  /* アイテム詳細エリア */
  .itemdetail-container {
    display: flex;
    max-width:1000px;
    width:100%;  
  }

  .itemdetail-container div img {
    max-width:500px;
    max-height:500px;
  }

  .itemdetail-container th {
    max-width:200px;
    font-size: 16px;
  }
  
  .itemdetail-container td {
    max-width:270px;
    font-size: 16px;
  }

  .itemcoupon {
    max-width:235px;
  }
  
  .inscart {
    max-width:200px;
  }

  .timesalecolor{
    color:red;
    font-size: 16px;
  }
}

/*-- スマートフォン向けレイアウト ～670px --*/
@media all and (max-width:670px) {

  /* ヘッダーエリア */
  .hcontainer {
    display: none;
  }

  .header-sp {
    max-width:670px;
    width:100%;
    height: 50px;
    display: flex;  
    align-items: center;
    position: relative;
  }

  .logo {
    width:50px;
    padding-left: 5px;
  }

  .logo a {
    font-size: 16px;
    color:#333; 
  }

  .searchbox {
    display: flex;
    align-items: center; /* 要素の垂直方向を中心に配置 */
    min-width: 200px;
    height: 30px; 
    margin:11px 0;  
    overflow: hidden; /* 入力欄からはみ出た文字を表示しない */
    border: 2px solid skyblue;
    border-radius: 25px;
  }

  .hmenu {
    display: none;
  }

/* 【ハンバーガーメニューに関するCSS】 
/*  チェックボックスを非表示にする     */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
  display: block;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block; /* メニューアイコンを表示 */
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になるように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav {
  width:70px;
  margin-left: 10px;
}

.nav_content {
  max-width: 670px;
  width: 100%;
  height: 100%;
  position: fixed;
  /* top:0%;  // メニューアイコンクリック時、左または右からメニューが表示 */
  bottom: 100%; /* メニューアイコンクリック時、上からメニューが表示 */
  left: 0%; /* メニューアイコンクリック時、上からメニューが表示 */
  /* left: 100%; /* メニューアイコンクリック時、右からメニューが表示 */
  /* right: 100%; /* メニューアイコンクリック時、左からメニューが表示 */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s; 
}

.nav_list li a{
  color:azure;
  margin-left: 20px;
  list-style: none;
   margin-top: 10px; 
   display: block;
   text-align: center;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
}

/* スライダー幅 */
  .slide,
  .slide2{
    max-width:670px;
    width:100%; 
  }

  .slide img,
  .slide2 img{
    max-width:670px;
    height: 300px;
    width:100%;
    object-fit: cover;
  }

  .itemspecial {
    max-width:670px;
    width:100%;
    background-color: blue;
  }

  .itemsale {
    max-width:670px;
    width:100%;
    background-color: tomato;
  }

  /* アイテムカテゴリエリア */
  .itemcategory {
    max-width:670px;
    width:100%;
    height: 150px;
  }

   .itemcategory ul li {
    width: 50%;
    height: 30px;
  }

  /*------ フッターエリア ------*/
.fcontainer {
  max-width:670px;
  width:100%;
}

.footerword {
  color:#333;
  font-size: 14px;
}

  /* アイテム一覧エリア*/
  .itemcontainer {
    max-width:670px;
    width:100%;
  }

  .menu-container {
    max-width:670px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-box {
    width:calc(50% - 10px);
    margin-bottom: 50px;
  }

  /* アイテム詳細エリア */
  .itemdetail-container {
    display:block;
    max-width:670px;
    width:100%;  
  }

  .itemdetail-container div img {
    max-width:670px;
    max-height:670px;
  }

  .itemdetail-container th {
    max-width:280px;
    font-size: 16px;
  }
  
  .itemdetail-container td {
    max-width:390px;
    font-size: 16px;
  }

  .itemdetail-sentence {
    margin-left: 0;
  }

  .itemcoupon {
    max-width:670px;
    margin:5px auto;
  }
  
  .inscart {
    max-width:670px;
    margin:5px auto;
  }

  .timesalecolor{
    color:red;
    font-size: 16px;
  }

  /*  contact page -スマートフォン用- 
                                    */
.contact-frm {
  display: none;
}

.contact-frm-sp {
  margin: 0 20px;
  width:300px;
  display: block;
  margin: 0 auto;
}

.inputTitle-sp {
  font-size: 20px;
  margin:70px 0 30px 20px;
  font-weight: bold;
}

.inp-word {
  margin:30px 0 10px 30px;
}

.selectjob-sp,
.selectage-sp {
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.txtbox-sp {
  width:280px;
  height:25px;
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.radio-sp {
  margin-left: 30px;
  border:1px solid #888;
}

.txt2 {
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.errMsgAge-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgGender-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgTitle-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgGoiken-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.btnarea-sp {
  width:300px;
  text-align: center;
}

#contactBtn-sp {
  margin-top:30px;
  width: 80px;
  height:40px;
  font-size: 16px;
  border-radius: 10px;
  border:1px solid #fff;
  color:#fff;
  background-color:darkgray;
  text-align: center;
}

.spline {
  margin-right: 3px;
  color:skyblue;
}

}
